body {
    /* font-family: 'Oswald', sans-serif; */
}

img {
    width: 100%;
}

/* Title */
header h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.img-container {
    width: 150px;
}

.title-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* selected */
.selected-filter-container {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #ccc ;
    border-bottom: 1px solid #ccc ;
    margin-top: 12px;
    margin-bottom: 12px;
}

.selected-filter {
    font-size: 'Oswald', sans-serif;  /*TODO: da sistemare*/
}


/* Advertisement  */
section.ad {
    border: 2px solid #666;
    border-radius: 5px;
    margin-bottom: 12px;
    position: relative;
}

.ad .ad-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #ccc solid;
    font-family: 'Oswald', sans-serif;
}

.ad-info .logo-container {
    flex-basis: 80px;
}

.ad-info .company {
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
}

.ad-info .info {
    flex-basis: 80px;
    font-size: 14px;
    color: #777;
}

.ad .ad-text {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Bona Nova', serif;
}

.ad .ad-preferences {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #ccc solid;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ad-preferences .contract {
    font-family: 'Oswald', sans-serif;
}

.ad-preferences .preferences .applied {
    border: 1px #e3242b solid;
    border-radius: 6px;
    padding: 6px 12px;
    color: #e3242b;
    font-weight: bold;
    display: inline-block;
}

/* Star */
.preferences i {
    font-size: 18px;
    margin-right: 6px;
    cursor: pointer;
}

.preferences .selected {
    color: #fdd017;
}

.preferences .no-selected {
    color: rgba(0, 0, 0, 0.3);
}

.preferences .no-selected:hover {
    color: rgba(253, 208, 23, 0.5);
}

/* modale */
.modal-applied {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid #e3242b;
    border-radius: 6px;
    color: #e3242b;
    background-color: #fff;
    z-index: 1001;
    width: 250px;
    padding: 24px;
    text-align: center;
    font-weight: bold;
}