img {
    width: 100%;
}

/* Advertisement  */
section.ad {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 12px;
    position: relative;
}

.ad .ad-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #ccc solid;
}

.ad-info .logo-container {
    flex-basis: 80px;
}

.ad-info .company {
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
}

.ad-info .info {
    flex-basis: 80px;
    font-size: 14px;
}

.ad .ad-text {
    margin-top: 24px;
    margin-bottom: 24px;
}

.ad .ad-preferences {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #ccc solid;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ad-preferences .preferences .applied {
    border: 1px #e3242b solid;
    border-radius: 6px;
    padding: 6px 12px;
    color: #e3242b;
    font-weight: bold;
    display: inline-block;
}

/* modale */
.modal-applied {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid #e3242b;
    border-radius: 6px;
    color: #e3242b;
    background-color: #fff;
    z-index: 1001;
    width: 250px;
    padding: 24px;
    text-align: center;
    font-weight: bold;
}